.todoElEleven{
    min-height: 800px;
    display: flex;
    justify-content: flex-end;
}
.formMainDataDos{
 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.espacio{
    height: 80vh;
}

.playerElevenName{
    font-size: 12px;
    background-color: white;
    border-radius: 10px;
    padding: 0 3px;
    max-height: 12px;
}
.byAlguien{
    color: black;
    z-index: 100;
   
    position: relative;
    top: 560%;
    left: 10%;
    font-weight: bold;
}