.todoElEleven{
    min-height: 800px;
    display: flex;
    justify-content: flex-end;
}
.formMainDataDos{
 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.espacio{
    height: 80vh;
}