
.profileEditForm {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  gap: 2rem;
  justify-content: space-evenly;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: var(--color-background);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profileEditContainerColumns {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.profileEditLeft {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileEditLeft input {
  width: 100%;
  height: 40px;
  color: var(--color-secundario);
  padding: 10px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.profileEditLeft img {
  width: 50%;
  margin: 1rem 0;
  min-width: 50px;
}

.profileEditRight {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.profileEditRight button {
  width: 100%;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #3498db;
}

.profileEditRight button:disabled {
  background-color: #bdc3c7;
  cursor: not-allowed;
}

/* Media Query for responsiveness */
@media (min-width: 768px) {
  .profileEditContainerColumns {
    flex-direction: row;
  }

  .profileEditLeft {
    width: 30%;
  }

  .profileEditRight {
    width: 70%;
  }
}
