.dashboardTitle{
    color: var(--color-font); 
    text-align: center;
    font-size: 2.3em;
    letter-spacing: 2px;
    animation: shineAnimation 2s ease-in-out infinite alternate; 
    margin: 1rem;
    transform: translateY(-300px); 
    animation: fallAnimation 1s ease-in-out forwards 
}

.videoCircuit{
    width: 30vw;
    height: 30vh;
}


@keyframes shineAnimation {
    from {
        color: #6104bd; 
    }
    to {
        color: rgb(110, 24, 209); 
    }
}


@keyframes fallAnimation {
    to {
        opacity: 1;
        transform: translateY(0); 
    }
}


.navProfile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: var(--color-background);
}

.imageContainer {
min-width: 550px;
    width: 100%;
    overflow: hidden;
    padding: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
  
}

.imageNav {
    width: 40vw;
    max-width: 600px;
    min-width: 300px;
   display: block;
    border-radius: 30%;
    position: relative;
    border-width: 0 10px 10px 0;
     border: 5px solid white;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    transition: box-shadow 0.3s ease-in-out;
    transition: box-shadow 0.5s ease-in-out, transform 0.5s ease-in-out, z-index 0.5s ease-in-out;
    z-index: 1;

   
}


.izq{
    
     margin-top: -100px;
     margin-left: 15vw;
}
.der:hover{
    transform: scale(1.05);
    z-index: 2;
}


.imageNav:hover {
    animation: shadowAnimation 0.3s ease-in-out forwards;
}

@keyframes shadowAnimation {
    to {
        box-shadow: 0 0 20px rgba(255, 255, 255, 1);
    }
}


.imageNavDiv{
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
    align-items: center;
/* display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr; */
}

.positionAbsolute{
    position: absolute;
    top:0%;
    left: 0%;
    
}

.blackCoverImg{
    height: 90vh;
width: 48vw;
border-radius: 10px;
}



.displayNone:hover{
display: none;

}

.imageMotoNav{
    
    height: 90vh;
    width: 48vw;
    border-radius: 10px;
    object-fit: cover;
    
}

.singleImageNavContainer{
    position: relative;
    height: 90vh;
    width: 48vw;
    margin: 5px;
    object-fit: cover;
}