.profileDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-height: 80vh;
    background-image: url('https://res.cloudinary.com/drbssyzr7/image/upload/v1701370216/dataBase/sports-background-with-blue-shape_571891-33_qxuy3f.avif');
    background-size: cover;
}

.divNavProfile{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 90vw;
    height: 10vh;
    background-color:transparent;
}


.divOutletProfile{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    border-radius: 15px;
    min-height: 60vh;
    padding: 3vw;
    margin: 1rem;
    background-color: rgba(215, 236, 255, 0.95);
}
