.divTextoHome{
    text-align: center;
    margin: 20px;
}

.titleHome 
.titlePassion
.titlePersonalize
.titleEnterNow{
    font-size: 24px;
    margin-bottom: 10px;
}

.textHomeWelcome
.textHomePassion
.textHomePersonalize
.textHomeEnterNow{
    font-size: 18px;
    line-height: 1.5;
}

.picturesHome {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
.dataHome {
    text-align: center;
  }
  
.titlePictureFifa,
.titlePictureMotoGP,
.titlePicturepOWERlIFTING {
    margin-top: 10px;
    font-size: 16px;
  }