.containerGeneral{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.divTextoHome{
    text-align: center;
    margin: 20px;
}

.titleHome{
  font-size: 24px;
    margin: 10px 0;
}
.titlePassion{
  font-size: 24px;
    margin: 10px 0;
}
.titlePersonalize{
  font-size: 24px;
    margin: 10px 0;
}

.titleEnterNow{
    font-size: 24px;
    margin: 10px 0;
}

.textHomeWelcome,
.textHomePassion,
.textHomePersonalize,
.textHomeEnterNow{
    font-size: 18px;
    line-height: 1.5;
    margin: 10px 0;
}

.picturesHome {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
.dataHome {
  flex-direction: column;
    text-align: center;
  }
  
.titlePictureFifa,
.titlePictureMotoGP,
.titlePicturePowerLifting {
    margin-top: 10px;
    font-size: 16px;
  }