.containerGeneral {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: url("https://res.cloudinary.com/drbssyzr7/image/upload/v1701609909/dataBase/background_yfmvmc.webp");
  background-size: cover;
  height: 100vh;
}

.divTextoHome {
  text-justify: distribute-all-lines;
  text-align: center;
  margin: 20px;
  max-width: 800px;
}

.titleEnterNow,
.titlePersonalize,
.titlePassion,
.titleHome {
  font-size: 24px;
  margin: 10px 0;
}

.textHomeWelcome,
.textHomePassion,
.textHomePersonalize,
.textHomeEnterNow {
  font-size: 18px;
  line-height: 1.5;
  margin: 10px 0;
}

.picturesHome {
  display: flex;
  justify-content: space-around;
  max-height: 300px;
}

.dataHome {
  flex-direction: column;
  text-align: center;
  margin-top: 3rem;
  width: 200px;
  transition: transform 0.3s, box-shadow 0.3s;

}

.dataHome:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.titlePictureFifa,
.titlePictureMotoGP,
.titlePicturePowerLifting {
  font-size: 16px;
}

.pppp {
  width: 9rem;
  height: 9rem;
  object-fit: cover;
  transition: opacity 0.3s;
}

.containerGeneral {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30 px;
  width: 100%;
}

.sectionContainer {
  margin-top: 15vh;
  overflow: visible;
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  min-height: 8vh;
  width: 100%;
  gap: 2rem;
  margin: 2rem;
  top: 15%;
  align-items: center;
  position: absolute;
}

.sectionButton {
  background-color: var(--color-fondo);
  color: var(--color-almost-black);
  border: none;
  border-radius: 20px;
  width: 30%;
  height: 3rem;
  font-size: 18px;
  font-weight: bolder;
  cursor: pointer;
  outline: none;
  border: var(--color-boton-motogp) solid 2px;
  -webkit-box-shadow: 10px 10px 19px -7px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 10px 10px 19px -7px rgba(0, 0, 0, 0.39);
  box-shadow: 10px 10px 19px -7px rgba(0, 0, 0, 0.39);
  transition: transform 0.3s, box-shadow 0.3s;

}

.sectionButton:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }


.section {
  padding: 40px;
  text-align: center;
  background-color: var(--color-fondo);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  border: var(--color-boton-motogp) solid 2px;
  -webkit-box-shadow: 10px 10px 19px -7px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 10px 10px 19px -7px rgba(0, 0, 0, 0.39);
  box-shadow: 10px 10px 19px -7px rgba(0, 0, 0, 0.39);
}

.section p {
  font-size: 18px;
  max-width: 50vw;
}

.sectionTitle {
  color: #2c3e50;
  margin-bottom: 20px;
}

@media (max-width: 550px) {
  .containerGeneral {
    padding-top: 0;
  }

  .sectionContainer {
    width: 90%;
  }

  .buttonsContainer {
    flex-direction: column;
    gap: 5px;
    margin: 0;
  }

  .sectionButton {
    width: 100%;
    height: 4vh;
  }
  .dataHome {
    width: 110px;
    margin-top: 1rem;
  }

  .pppp {
    width: 4rem;
    height: 4rem;
  }

  .section {
    width: 100%;
  }

  .section p {
    font-size: 16px;
    min-width: 100%;
  }
}
