.singleItemCardItem{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 0 0.5rem 0 0.5rem ; */
}
.singleItemImgCircuit{
  width: 100%;
  object-fit: cover;
  border: 1.5px solid black;
  border-radius: 50%;
  object-fit: none;
}

.singleItemNameCircuit{
  margin-top: 5px;
  font-size: 15px;
  height: 40px;
  text-align: center;
}

#buttons-card-player{
  display: flex;
  gap: 1rem;
}