
.singleItemImgLifter{
    width: 24vw;
    height: 35vh;
    object-fit: cover;
    border-radius: 4px;
    margin: 8px;
    border: var(--boder);
}

.singleItemNameLifter{
    font-size: 15px;
    font-weight: 400;
}

.lifterCardSection{
    width: 26vw;
    height: 45vh;
    border: var(--boder);
    border-radius: 4px;
    background-color: var(--color-enhance);
}
.lifterCardSection:hover{
    transform: scale(102%);
}


.lifterInfo{
    display: flex;
    align-items: center;
    justify-content: center;
}