.singleItemCardRider{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%
  /* margin: 0 0.5rem 0 0.5rem ; */
}
.singleItemImgRider{
  width: 150%;
  object-fit: cover;
  border-radius: 50%;
}

.singleItemNameRider{
  display: flex;
  margin-top: 5px;
  font-size: 15px;
  height: 40px;
  text-align: center;
}

#buttons-card-player{
  display: flex;
  gap: 1rem;
}