.main-header {

  background-color: var(--color-enhance);
  -webkit-box-shadow: 3px 9px 28px -7px rgba(204,200,204,1);
-moz-box-shadow: 3px 9px 28px -7px rgba(204,200,204,1);
box-shadow: 3px 9px 28px -7px rgba(204,200,204,1);
border-bottom: 1px solid rgb(234, 231, 231);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  width: 100vw;
  height: 14vh;
  position: sticky;
  z-index: 100000;
}

.imageLogo{
  height: 30px;
}

.logout{
color:rgba(0, 0, 0, 0.308)
}
.logoutDiv{
  color: black
}


.imagen-vecino {
  width: 50vw;
  max-width: 110px;
  padding: 8px;
}

strong {
  text-align: center;
}

.nav-links {
  display: flex;
  gap: px;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.nav-links a {
  color: var(--color-enlace);
  text-decoration: none;
}

#iniciarayuda {
  width: 15vw;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 10px;
}

#iniciarayuda a img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.material-symbols-outlined {
  font-size: 24px;
}

.logate,
.contacto,
.logout,
.profileCircle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.logate a,
.contacto a {
  color: white;
}

header a {
  position: relative;
  text-decoration: none;
  color: var(--color-enlace);
}

/* header a::after {
  content: '';
  position: absolute;
  top: 102%;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--enlace-hover);
  transition: width 0.3s ease, left 0.3s ease;
} */

header a:hover::after {
  width: 100%;
  left: 0;
}

.especiales {
  display: flex;

}

.especiales a {
  background-color:var(--color-boton);
  border-radius: 10px;
  padding: 0 10px;
  margin: 0 5px;
}

.especiales a:hover {
  background-color:var(--color-boton-hover);
  color: var(--color-p)
}

.profileCircle {
  max-width: 55px;
  border: 0.5px solid rgb(248, 236, 236);
  border-radius: 50%;
}


  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }

.nombre-vecino {
  background-color: rgba(211, 31, 31, 0);
  width: 50vw;
  min-width: 300px;
  max-width: 500px;
  display: inline-block;
}
@media (max-width: 650px) {
  .nombre-vecino {
    display: none;}
    .search-bar {
  
      display: flex;
     justify-content: space-between;
     width: 100vw;
     gap: 20px;
      align-items: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.308);
    
    }
  
  }