footer {
    background-color:var(--color-secundario);
    color: var(--color-p);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20px;
}

.linkAboutFooter {
    color: white;
}

.linkAboutFooter:hover {
    color: rgba(245, 245, 220, 0.445);
}