@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
#userPagePage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#userPageTopContainer{
  height: 20vh;
  width: 100vw;
  padding-left: 5vw;
  gap: 3rem;
  border: 1px solid black;
}

#userPageImage{
  height: 100%;
  border-radius: 50%;
  aspect-ratio: 1/1;
  float: left;
}

#userPageMainInfoNav{
  height: 100%;
  width: auto;
  overflow: hidden;
}

#userPageMainInfoNav > div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 0.5rem;
  padding: 15px 0 15px 0;
}

#containerNameandFollow{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  height: 100%;
  align-items: center;
}

#userPageName{
  font-size: 36px;
  height: 40px;
}

#containerInterestInfo{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   gap: 1rem;
   height: 100%;
}

#followUserButton{
  min-width: 100px;
  border: 1px solid black;
  border-radius: 3px;
  height: 32px;
  font-family: "Montserrat";
  margin-left: 25px;
}

#userPageInterest{
  font-family: "Rubik", sans-serif;
}

#userPageInterest > span{
  text-transform: capitalize;
  font-weight: bold;
}

#userPageNav{
  height: 10vh;
  padding: 15px;
  display: flex;
  gap: 2rem;
  margin-bottom: 50px;
}

#userPageNav > button{
  --b: 3px;   /* border thickness */
  --s: .15em; /* size of the corner */
  --c: #015792;
  
  padding: calc(.05em + var(--s)) calc(.3em + var(--s));
  color: var(--c);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--c) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .2em;

  font-family: system-ui, sans-serif;
  font-weight: bold;
  font-size: 17px;
  cursor: pointer;
  border: none;
  margin: .1em;
  height: 35px;
}

#userPageNav > button:hover, #userPageNav > button:focus-visible{
  --_p: 0px;
  outline-color: var(--c);
  outline-offset: .05em;
}

#userPageNav > button:active{
  background: var(--c);
  color: #fff;
}

#userPageInfo > button{
  aspect-ratio: 1/1;
}

#userPageInfo{
  min-height: 46vh;
}

