:root {
  /* Colores generales */
  --color-primario: #3498db;
  --color-secundario: #8b8b8b;
  --color-fondo: #f2f2f2;

  /* Colores para etiquetas específicas */
  --color-h1: #e74c3c;
  --color-h2: #9b59b6;
  --color-h3: #e67e22;
  --color-h4: #3498db;
  --color-p: #34495e;
  --color-enlace: #000000;
  --color-enlace-hover: #2773b8;
  --color-contenedor: #2ecc71;
  --color-boton: #e74c3c;
  --color-botondes: #e74c3c;
  --color-boton-hover: #c0392b;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}