.Allpage {
    background-color: lightcoral;
    width: 100vw;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 1%;
}


.mainPage {
    width: 80vw;
    min-height: 70vh;
    background-color: rgb(252, 252, 26);
    display: flex;
    justify-content: space-between;
    padding: 1%;
    gap: 5%;
}

.displayImage {
    width: 75vw;
    min-height: 60vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    align-items: center;
    background-color: grey;
    column-gap: 1rem;
}

.singleCardItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.columnaEnlaces {
    width: 20vw;
    height: 80vh;
    background-color: rgb(156, 46, 46);
    display: flex;
    flex-direction:column ;
    justify-content: space-between;
    align-items:flex-end;
    gap: 5px;
}

.seccionColumna {
   width: 100%;
   height: 33%;
   background-color: aqua;
  
}

.seccionUno {
   background-color: rgb(247, 156, 156);
}

.seccionDos {
   background-color: rgb(164, 164, 238);
}

.seccionTres {
  background-color: rgb(167, 236, 167);
}
@media only screen and (max-width: 600px) {
    .Allpage {
     padding: 20px;
    }
 

    .galeriaPreview,
    .buscadorMario {
        width: 100%;
    }

    .mainPage {
      
        flex-direction: column;
       
    }

    .displayImage,
    .columnaEnlaces {
        width: 100%;
       
    }
}