.galeriaReducida{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}


.galeriaPreview {
  background-color: white;
  border: var(--boder);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 58vw;
  max-height: 100px;
  min-height: 70px;
}
.previewButton {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  width: 5%;
  height: 20%;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content:center;
  align-items: center;
  margin: 0 2rem;
}
#disabled{
  color: grey
}

.arrow:hover{
  transform: scale(1.2);
  cursor:pointer;
}


.botonesPaginacion {
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: row;
}




.noSe {
  padding: 0 0 0 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.galeriaPreview .singleItemImg {
  max-width: 8vw;
  /* max-height: 100px;
  max-width: 100px; */
}
.galeriaPreview .noSe {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  gap: 5px;
  width: 40vw;
}


.galeriaPreview .singleItemName {
  display: none;
}

.galeriaPreview .singleItemCard {
  width: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.slide-in {
  animation: slideIn 0.5s ease-in-out;
}

.slide-out {
  animation: slideOut 0.5s ease-in-out;
}
@media only screen and (max-width: 600px) {
  .galeriaPreview .noSe {
   
    width: 75vw;
  }
}